 .navbar-container {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 249px;
    padding: 15px 0;
    /* position: fixed; */
    width: 100%;
    background-color: #2C2C2C;  
 }

 .nav-logo {
    padding-left: 100px ;
 }

 .route {
    font-size: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 110px;
    padding-right: 60px;
}

.route ul li  {
    list-style-type: none;
    text-decoration: none;
}


.navbar-container a{
    text-decoration: none;
    color: #E4E4E4;
    position: relative;
    display: inline-block;
}

.route  ul li a::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #E2A300; 
    bottom: 0;
    left: 50%;
    transition: all 0.3s ease-in-out;
    margin-top: 20px ;
}


.route > ul li a:hover::before {
    width: 100%;
    left: 0;
}