.navbar-container {
    padding: 15px 0;
    background-color: #2c2c2c;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 145px;
}

.navbar-container a{
    text-decoration: none;
    color: #E4E4E4;
    font-size: 18px;
    position: relative;
    display: inline-block;

    
}


.navbar-container > a::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px; /* Chiziqning balandligi */
    background-color: #E2A300; /* Chiziqning rangi */
    bottom: 0;
    left: 50%;
    transition: all 0.3s ease-in-out;
    margin-top:20px ;
}

.navbar-container > a:hover::before {
    width: 100%;
    left: 0;
}

