.product {
  background: #414141;
}

.product-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  padding: 113px 135px;
}

.product-card {
  width: 270px;
  height: 270px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 60px 50px;
  background: #00000078;
  color: #e4e4e4;
  transition: all 0.3s ease;
}


.product-card h4 {
  font-size: 20px;
  font-weight: 100;
  color: #E4E4E4;
}

.product-card .icon1 {
  background: none;
  color: #00C4F0;
  transform: rotate(135deg);
  font-size: 65px;
}

.product-card .icon {
  color: #00C4F0;
  font-size: 65px;
  }

  .product-card:hover {
    transform: rotateX('10deg');

  }
